
{% extends "accounts/base.html" %}

{% load static %}

{% block title %} home{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">


            <h2 class="text-center mb-4">Home</h2>
            {% if user.is_authenticated %}
            <h2>Your name is : {{ user.username }}</h2>
            {% else %}
            <h2>You are not logged in </h2>
            {% endif %}
            

            
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}